
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ec644b;
}

.table-row-cell:selected {
    -fx-background-color: #ec644b;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}